extends ../layout/layout

block vars 
  -title = 'MyFurnish | Cart'

block container 
  +mainHeader("Shopping Cart")
  section.container.cart-container
    section.cart-products
      h2.heading.cart-heading.heading-md Please review your cart
      ul
        li
          .cart-item
            .cart-item__img 
              img(src="/images/logo.svg", alt="")
            .cart-item__info 
              h4.cart-item__name.heading.heading-xs.color-primary.font-poppins.font-weight-normal Ultra Super Essential chair 
              p.cart-item__desc Wood chair 
              select(name="product-quantity") 
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
              .cart-item__action 
                .cart-item__favorite 
                  i(class="fa-regular fa-heart")
                .cart-item__trash
                  i(class="fa-regular fa-trash-can")
            span.cart-item__price.heading-xs $50.0
    section.cart-summary summary

//- block scripts 
//-   script(src="../js/app.js")
//-   script.
//-     app.startCart();