extends ../layout/layout

block vars 
  -title = 'MyFurnish | Cart'
  -wrapperClass = 'checkout-wrapper'

block container 
  +mainHeader("Checkout")
  .container
    .row 
      .col.col-7
        +checkoutSection('Delivery Information')
      .col.col-5
        +checkoutSection('Order Summary')
block scripts 
  script(src="../js/pages/cart.js" type='module')