extends ../layout/layout

block vars
  -title = 'MyFurnish | Products'

block css 
  link(rel="stylesheet", href="../css/style.css")
  link(rel="stylesheet", href="../css/product.css")

block container 
  +mainHeader("Products")
  .page_sort_by.container
    h3 Ecommerce Acceories & Fashion item 
    .page_sort_bottom
      label(for='perpage') Per Page:
      input#perpage(type='number' name='Per Page' value="1")
      label(for='sort') Sort By:
      select#sort(size='1')
        option Best Match
        option Top Sale
        option Popular
  .grid-container__product.container.grid
    each product in products
      figure.accessories-item.product-item.action-horizontal  
        .accessories-item__top.product-item__top
          a.accessories-item__img.product-item__img(href="/products/" + product.slug)
            img(srcSet="/images/products/" + product.slug + ".png" , loading="lazy", alt= product.product_name)
          +productActionSet("product-action--horizontal")
            +productActionItem("","fa-solid fa-cart-plus")
            +productActionItem("","fa-regular fa-heart")
            +productActionItem("","fa-solid fa-magnifying-glass")
        .accessories-item__bottom.product-item__bottom 
          figcaption.accessories-item__heading.text.text-lg.text-center.color-heading.font-secondary= product.product_name
          .accessories-item-price.text.text-sm.text-center.color-heading 
            span.accessories-item-price__new= product.price
            del.accessories-item-price__old
  .page_change.container
    form(action='#')
      button.bton
        i.fa-solid.fa-angles-left
      button.bton
        i.fa-solid.fa-angle-left
      button.bton
        i.fa-regular.fa-1
      button.bton
        i.fa-regular.fa-2
      button.bton
        i.fa-regular.fa-3
      button.bton
        i.fa-solid.fa-angle-right
      button.bton
        i.fa-solid.fa-angles-right

block scripts 
  script(src="../js/pages/products.js" type="module")