extends ../layout/layout

block vars 
  -title = 'MyFurnish | Sign up'

block container
  section.container
    form#add-product.form.form-center(action='/sign-up', method='POST')
      h1.heading.heading-xl.color-accent.text-center Sign up
      .form-group
        label.form-label(for='full-name') Full name
        input#full-name.form-control(name="full-name", type='text', required)
      .form-group
        label.form-label(for='email') Email
        input#email.form-control(name="email", type='email', required)
      .form-group
        label.form-label(for='password') Password
        input#password.form-control(name="password", type='password', required)
      button.btn.btn-primary.btn-solid.btn-md.mt-4(name="", type='submit') Create my account
      p.text-center
        | Already have an account? 
        a.color-primary(href= loginLink) Sign in

block scripts 
  script(src="../js/pages/others.js" type="module")