.form {
  --current-color: var(--primary-color);

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2.4rem;

  &.form-center {
    width: 100%;
    max-width: 72rem;

    padding: 8rem;
    margin-left: auto;
    margin-right: auto;
  }
  &-group {
    display: flex;
    flex-direction: column;
    &.inline {
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      & > label {
        margin-bottom: 0;
      }
    }
  }
  &-label {
    margin-bottom: 0.8rem;
  }
  &-control {
    color: #333;
    font-family: var(--poppins);

    &:disabled {
      color: #666;
    }

    &[type='number'] {
      max-width: 8ch;
    }
  }
}
input.form-control {
  border-bottom: 2px solid var(--border-color);
  &:focus {
    border-bottom: 2px solid var(--current-color);
  }
}
textarea.form-control {
  border: 2px solid var(--border-color);
  border-radius: 0.8rem;
  padding: 0.8rem;
  &:focus {
    outline: 2px solid var(--current-color);
  }
}

form {
  --current-color: var(--primary-color);
}
