.order {
  &-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem 0;
  }
  &-item {
    border-radius: 8px;
    border: 2px solid var(--secondary-color);

    &__header {
      color: white;
      background-color: var(--secondary-color);
    }
    &-container {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.2s ease;
      & > ul {
        overflow: hidden;
      }
      &[data-open='true'] {
        grid-template-rows: 1fr;
      }
    }
    &__main {
      display: flex;
    }
    &__img {
      width: 9rem;
      height: 6rem;
      padding: 0.4rem;
      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__info {
      margin-left: 1.6rem;
    }
    &__price {
      margin-left: auto;
    }
    &__status {
      text-transform: capitalize;
      font-style: italic;
    }
    &__footer {
      border-top: 2px solid #eee;
    }
  }
}
