.detail {
  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    margin-top: 8rem;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__btn {
    margin-top: 1.2rem;
  }
}
