extends ../../layout/user

block vars 
  -title = 'MyFurnish | Profile'
  -heading = 'Profile'
  -selection = heading.toLowerCase();

block userMain 
  form.form(action="") 
    .form-group 
      label.form-label(for="full-name") Full name
      input#full-name.form-control(type="text", name="")
    .form-group 
      label.form-label(for="full-name") Full name
      input#full-name.form-control(type="text", name="")