include ./variables

header.header 
  nav.nav 
    .nav-top 
      .container.nav__container 
        .nav-contact 
          a.nav-group(href='mailto: duyb2005667@student.ctu.edu.vn') 
            i.fa-regular.fa-envelope(style='color: #ffffff;')
            span.nav-contact__text duyb2005667@student.ctu.edu.vn
          a.nav-group(href='tel: (12345)67890') 
            i.fa-solid.fa-mobile-screen(style='color: #ffffff;')
            span.nav-contact__text (12345)67890
        .nav-action 
          if (!user)
            +navGroup("Login", "user.svg", "/sign-in")
          else
            +navGroup(user.fullName, "user.svg", "/user/profile")
          +navGroup("", "cart.svg", cartPageLink,"nav-cart")
            span.nav-cart-qty(data-name='nav-cart-qty')= "(" + (cartQty ? cartQty : '') + ")"
    .nav-bottom
      .container.nav__container
        include ../blocks/menu
        .overlay.tablet
        a.heading.heading-lg.logo.header__logo(href= homePageLink)
          img(src="/images/logo3.svg", alt="logo")
        button.toggle-menu.btn.btn-sm.mobile.js-toggle-menu
          .toggle-menu__bars 
            .toggle-menu__line
            .toggle-menu__line
            .toggle-menu__line
        .search.above-tablet 
          input(type="text").search__input
          button.btn.btn-primary.btn-solid.btn-sm.search__btn
            img(src="/images/base/search.svg", alt="search")