ul.menu.js-menu
  li.menu__item.tablet
    .search 
      input(type="text").search__input
      button.btn.btn-primary.btn-solid.btn-sm.search__btn
        img(src="/images/base/search.svg", alt="search")
  li.menu__item 
    a.menu__link.text-lg.color-heading(href= homePageLink) Home
  li.menu__item 
    a.menu__link.text-lg.color-heading(href= POPLink) Products
  li.menu__item 
    a.menu__link.text-lg.color-heading(href= manageProductLink) Manage
  li.menu__item.mobile.menu__nav-top 
    +navGroup("Cart", "cart.svg", cartPageLink,"menu__nav-top-item in-menu")
      span.nav-cart__qty.in-menu
    if (!user)
      +navGroup("Login", "user.svg", loginLink,"menu__nav-top-item in-menu")
    else
      +navGroup(user.fullName, "user.svg", loginLink,"menu__nav-top-item in-menu")
      +navGroup('Profile', "", userProfileLink,"menu__nav-top-item in-menu")
      +navGroup('Order', "", userOrderLink,"menu__nav-top-item in-menu")
      form.nav-group.menu__nav-top-item.in-menu(action='/sign-out', method='POST')
        button(type='submit').nav-action__text.color-danger Sign out
    +navGroup("duyb2005667@student.ctu.vn", "mail.svg", "mailto: duyb2005667@student.ctu.vn", "menu__nav-top-item mt-auto")
    +navGroup("(12345)67890", "phone.svg", "tel: (12345)67890", "menu__nav-top-item")