-homePageLink = '/'
-POPLink = "/products"
-cartPageLink = '/cart'
-notFoundLink = '/404-not-found';
-cartBetaLink = '/cart-beta';
-manageProductLink = '/admin/manage-products'
-addProductLink = '/admin/manage-products/create'
-deletedProductLink = '/admin/deleted-products'
-loginLink = '/login'