-homePageLink = '/'
-POPLink = "/products"
-cartPageLink = '/cart'
-notFoundLink = '/404-not-found';
-cartBetaLink = '/cart-beta';
-addProductLink = '/admin/add-product'
-editProductLink = '/admin/edit-product'
-manageProductLink = '/admin/products'

-productSlug = '';
-productImgLink = '/images/products/' + productSlug + '.png'