-homePageLink = '/'
-POPLink = "/products"
-cartPageLink = '/cart'
-notFoundLink = '/404-not-found';
-cartBetaLink = '/cart-beta';
-checkoutLink = '/checkout'
-manageProductLink = '/admin/manage-products'
-addProductLink = '/admin/manage-products/create'
-deletedProductLink = '/admin/deleted-products'
-loginLink = '/sign-in'
-signUpLink = '/sign-up'
-userProfileLink = '/user/profile'
-userOrderLink = '/user/order'
-userSignOutLink = '/user/sign-out'