extends ../../layout/layout

block vars
  -title = 'MyFurnish | ' + product.name

block css 
  link(rel="stylesheet", href="../css/style.css")
  link(rel="stylesheet", href="../css/product.css")

block container 
  +mainHeader("Product Detail")
  section.container.detail-container
    .detail-img 
      img(src="/images/products/" + product.slug + ".png", alt=product.name)
    .detail-info 
      h2.heading.heading-md.detail__name.mb-5= product.name 
      p.detail__desc.text-xl.mb-6= product.description
      form(action="" method='POST').detail-action 
        select.detail-qty.select.mb-5(name="product-qty")
          option.detail-qty__option(value="1") 1
          option.detail-qty__option(value="2") 2
          option.detail-qty__option(value="3") 3
          option.detail-qty__option(value="4") 4
          option.detail-qty__option(value="5") 5
        button.detail__btn.btn.btn-xl.btn-primary.btn-outline Add to Cart

block toast 
  +toast('success', 'Sucessfully!')

block scripts 
  script(src="../js/pages/products.js" type="module")