extends ../../layout/layout

block vars
  -title = 'MyFurnish | Products'

block css 
  link(rel="stylesheet", href="../css/style.css")
  link(rel="stylesheet", href="../css/product.css")

block container 
  +mainHeader("Products")
  .container
    h2.heading.heading-lg.my-8 Our Products
  .grid-container__product.container.grid
    each product in products
      -productSlug = product.slug
      -productImgLink = '/images/products/' + productSlug + '.png'
      +productItem(product.name, product.slug, product.price)

block scripts 
  script(src="../js/pages/products.js" type="module")