extends ../../layout/layout

block vars
  -title = 'MyFurnish | Products'

block css 
  link(rel="stylesheet", href="../css/style.css")
  link(rel="stylesheet", href="../css/product.css")

block container 
  +mainHeader("Products")
  .container
    h2.heading.heading-lg.my-8 Our Products
  .grid-container__product.container.grid
    each product in products
      -productSlug = product.slug
      -productImgLink = '/images/products/' + productSlug + '.png'
      +productItem(product.name, product.slug, product.price)
      
  .page_change.container
    form(action='#')
      button.bton
        i.fa-solid.fa-angles-left
      button.bton
        i.fa-solid.fa-angle-left
      button.bton
        i.fa-regular.fa-1
      button.bton
        i.fa-regular.fa-2
      button.bton
        i.fa-regular.fa-3
      button.bton
        i.fa-solid.fa-angle-right
      button.bton
        i.fa-solid.fa-angles-right

block scripts 
  script(src="../js/pages/products.js" type="module")