include ../variables

section.accessories
  h2.accessories__heading.section__heading.heading.heading-xl.heading-center Featured Accessories 
  .grid.wide.accessories__list 
    .row 
      each item in accessories
        -productSlug = item.slug
        -productImgLink = '/images/products/' + productSlug + '.png'
        +accessoriesItem(item.product_name, item.price, productImgLink)
