include ../variables

section.accessories
  h2.accessories__heading.section__heading.heading.heading-xl.heading-center Featured Accessories 
  .grid.wide.accessories__list 
    .row 
      each item in accessories
        +accessoriesItem(item.name, item.price, item.slug)
