section.on-trending
  .on-trending__title.heading.heading-xl.heading-center.section__heading On Trending 
  .grid.wide
    .row
      .col.col-6.xl-6.lg-12.md-12.sm-12.overflow-hidden
        .row
          .col.col-12.xl-12.lg-7.md-12.sm-12.obs-transition.slide-half-right.fade
            +onTrendingItem("lg", trendings[0].name, "$" + trendings[0].price, trendings[0].slug , trendings[0].id)
          .col.col-12.xl-12.lg-5.md-12.sm-12  
            .row
              .col.col-6.xl-6.lg-12.md-6.sm-12.obs-transition.obs-delay-quarter.slide-half-up.fade
                +onTrendingItem("md", trendings[1].name, "$" + trendings[1].price, trendings[1].slug , trendings[1].id)
              .col.col-6.xl-6.lg-12.md-6.sm-12.obs-transition.slide-half-up.fade
                +onTrendingItem("md", trendings[2].name, "$" + trendings[2].price, trendings[2].slug , trendings[2].id)
      .col.col-6.xl-6.lg-12.md-12.sm-12.overflow-hidden
        .row 
          .col.col-12.xl-12.lg-5.md-12.sm-12  
            .row
              .col.col-6.xl-6.lg-12.md-6.sm-12.obs-transition.slide-half-down.fade
                +onTrendingItem("md", trendings[3].name, "$" + trendings[3].price, trendings[3].slug , trendings[3].id)
              .col.col-6.xl-6.lg-12.md-6.sm-12.obs-transition.obs-delay-quarter.slide-half-down.fade
                +onTrendingItem("md", trendings[4].name, "$" + trendings[4].price, trendings[4].slug , trendings[4].id)
          .col.col-12.xl-12.lg-7.md-12.sm-12.obs-transition.slide-half-left.fade
            +onTrendingItem("lg", trendings[5].name, "$" + trendings[5].price, trendings[5].slug , trendings[5].id)

