section.product-top 
  h2.product-top__heading.section__heading.heading.heading-xl.heading-center Top Chairs 
  .grid.wide 
    .row 
      each chair in chairs
        +topProductItem(chair.name, "$" + chair.price, "/images/products/" + chair.slug + ".png 2x")

